<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seven Laundry</title>
    <link rel="icon" href="svn.png" />
    <link rel="stylesheet" type="text/css" href="LoginForm.css" />
  </head>
  <body>
    <div class="main-body">
      <div class="form-login">
        <img class="form-image" src="svn.png" />
        <form class="form" method="POST" action="validate">
          <label class="form-label form-top">Username</label>
          <input class="form-input" type="text" name="username" />
          <label class="form-label">Password</label>
          <input class="form-input" type="password" name="password" />
          <button class="form-button" type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
