<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seven Laundry</title>
    <link rel="icon" href="/svn.png" />
    <link rel="stylesheet" type="text/css" href="/Navbar.css" />
    <link rel="stylesheet" type="text/css" href="/ManagerAddAccount.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-body">
      <div class="navbar">
        <img class="navbar-img" src="/svn.png" />
        <form
          class="navbar-button-wrap"
          method="POST"
          action="/manager/addAccount/managerNavbar"
        >
          <button class="navbar-button" name="button" value="main">
            <i class="material-icons" style="font-size: 30px"> home </i> Home
          </button>
          <button class="navbar-button" name="button" value="addAccount">
            <i class="material-icons" style="font-size: 30px">
              account_circle
            </i>
            Add Account
          </button>
          <button class="navbar-button" name="button" value="report">
            <i class="material-icons" style="font-size: 30px"> assessment </i>
            Report
          </button>
          <button class="navbar-button" name="button" value="logout">
            <i class="material-icons" style="font-size: 30px">
              power_settings_new
            </i>
            Logout
          </button>
        </form>
      </div>
      <div class="content">
        <h1>Account</h1>
        <div class="content-sub-1">
          <h2>Add New Account</h2>
          <form
            class="content-sub-1-form"
            method="POST"
            action="/managerAddAccount"
          >
            <label>Username</label>
            <input type="text" name="username" value="" />
            <label>Password</label>
            <input type="text" name="password" value="" /> <label>Role</label>
            <div>
              <input type="radio" name="role" value="manager" /><label
                >Manager</label
              >
            </div>
            <div>
              <input type="radio" name="role" value="employee" /><label
                >Employee</label
              >
            </div>
            <button class="button-input" type="submit">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
