<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seven Laundry</title>
    <link rel="icon" href="svn.png" />
    <link rel="stylesheet" type="text/css" href="/Navbar.css" />
    <link rel="stylesheet" type="text/css" href="ManagerMain.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-body">
      <div class="navbar">
        <img class="navbar-img" src="svn.png" />
        <form class="navbar-button-wrap" method="POST" action="/managerNavbar">
          <button class="navbar-button" name="button" value="main">
            <i class="material-icons" style="font-size: 30px"> home </i> Home
          </button>
          <button class="navbar-button" name="button" value="addAccount">
            <i class="material-icons" style="font-size: 30px">
              account_circle
            </i>
            Add Account
          </button>
          <button class="navbar-button" name="button" value="report">
            <i class="material-icons" style="font-size: 30px"> assessment </i>
            Report
          </button>
          <button class="navbar-button" name="button" value="logout">
            <i class="material-icons" style="font-size: 30px">
              power_settings_new
            </i>
            Logout
          </button>
        </form>
      </div>
      <div class="content"><h1>Welcome, Happy Working !</h1></div>
    </div>
  </body>
</html>
